.deal-of-the-month {
  background-color: #1283A7;

  margin-bottom: 20px;
  height: 555px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.deal-of-the-month img{
    width: 700px;
    height: 600px;
}


.deal-of-the-month-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;

}
.deal-of-the-month-details h3{
    border-radius: 40px 10px 60px 10px;
    background-color: #00B2EA;
    width: 300px;
    height: 50px;
    text-align: center;
    padding-top: 14px;
    margin: 10px  0 10px 0;
}
.deal-of-the-month-details h2{
    margin: 10px  0 10px 0;
}

.countdown {
    margin-top: 20px;
    font-size: 18px;
    display: flex;
    justify-content: space-between; 
}

.countdown p {
    margin: 5px 5px;
    width: 121px;
    height: 121px;
    background-color: #003444;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}